

<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class='nav-item active<'><a href="#home" class='nav-link'>Home <span class='sr-only'>(current)</span></a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-md-2" style="padding-top:40px;">
    <div class="custom-sidebar">
      <div class="" *ngFor='let item of listItems'>
        <a href="{{ item.link }}" *ngIf='item.isNew!==true'>{{ item.name }}</a>
        <a href="{{ item.link }}" target='_blank' *ngIf='item.isNew===true'>{{ item.name }}</a>
      </div>
      <hr>
      <div class="add-component-container">
        <input class='form-control' type="text" [(ngModel)]='title' placeholder='Name of website'>
        <input class='form-control' type="text" [(ngModel)]='url' placeholder='Url'>
        <div class="col-md-10 offset-md-1">
          <button class='ctn btn-primary btn-block' type="button" (click)='add(title,url)'>Add Link</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>

